/* 
Salecito Handwritten Font
Copyright © 2025 Salecito.com – All Rights Reserved
Not licensed for reuse without written permission.
*/

@font-face {
  font-family: Salecito;
  src: url(../fonts/Salecito.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-tan: #f2e3d0;
  --accent-alabaster: #f7f3e9;
  --bg-pearl: #fcf3e6;
  --bg-terms-light: #e3e2d4;
  --bg-terms: #c5c4b5;
  --bg-terms-color: #33332d;
  --text-main: #343130;
  --text-muted: #707069;
  --buttons: 109, 92, 88;
  --shadow: #caab84;
  --terms-shadow: #a1a096;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-tan);
  position: relative;
  color: var(--text-main);
  text-align: justify;
  overflow-x: hidden;
}

html,
.terms {
  background-color: var(--bg-terms);
  color: var(--bg-terms-color);
  text-align: left;
}

.logo-bar {
  display: flex;
  align-items: center;
  padding: 80px 0 20px 120px;
  position: absolute;
  z-index: 10;
}

.logo-bar a {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-main);
  margin-left: 30px;
  transition: color 0.3s ease;
}

.logo-bar a:hover {
  color: var(--accent-alabaster);
}

.logo {
  width: 52px;
  height: 30px;
}

.logo-bar span {
  font-size: 1.18rem;
  font-weight: 400;
  letter-spacing: 0.391rem;
  padding-top: 0.11rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-pearl);
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  padding: 120px 5% 60px 5%;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 1px 8px var(--shadow));
}

.terms .container {
  background-color: var(--bg-terms-light);
  width: 100vw;
  min-height: 100vh;
  padding: 120px 5%;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 1px 8px var(--terms-shadow));
}

.terms .wrapper {
  max-width: 900px;
  margin: 4em auto;
  padding: 0 5%;
}

.terms ul li,
.terms p {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.terms p svg {
  width: 36px;
  margin: -6px 6px;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap-reverse;
  max-width: 1600px;
  margin: 0 auto;
}

.text {
  flex: 1;
  min-width: 330px;
  max-width: 1000px;
}

.text h1,
h1 {
  font-family: Salecito;
  font-size: 2.5rem;
  /* Fallback for older browsers (40px) */
  font-size: clamp(2.5rem, 3.5vw, 3.7rem);
  /* Clamp for modern browsers */
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

.text h1 span {
  display: inline-block;
  white-space: nowrap;
}

.text p {
  font-size: 1.125rem;
  /* Fallback for older browsers (18px) */
  font-size: clamp(1.125rem, 1.25vw + 0.5rem, 1.5rem);
  /* Clamp for modern browsers */
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6;
  margin-bottom: 4.5rem;
}

.follow {
  line-height: 1.8em;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 1.5rem;
}

.image {
  flex: 1;
  max-width: 600px;
  min-width: 400px;
  text-align: center;
  position: relative;
}

.image img {
  max-height: 50vh;
}

.glow {
  opacity: 0;
  position: absolute;
  right: 6vw;
  max-height: 60vh;
  z-index: -1;
}

.socials {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.socials a {
  display: inline-flex;
  width: 22vw;
  height: 22vw;
  max-width: 100px;
  max-height: 100px;
  color: var(--text-main);
  background-color: rgba(var(--buttons), 0.2);
  border-radius: 99px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  scale: 1;
  transition: background-color 0.5s, color 0.2s, scale 0.5s;
}

.socials a:hover {
  background-color: rgba(var(--buttons), 1);
  color: var(--accent-alabaster);
  scale: 1.1;
}

.socials svg {
  width: calc(22vw - 10.5vw);
  height: calc(22vw - 4vw);
  max-width: 50px;
  max-height: 50px;
}

.footer {
  width: 100%;
  height: 114px;
  position: relative;
  overflow: hidden;
}

.footer .fixed {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1rem 2rem;
}

.footer span {
  padding-right: 4px;
}

.footer .pad {
  padding: 0 16px;
}

.footer .cut {
  display: inline-block;
  white-space: nowrap;
  padding-top: 0.8rem;
}

.footer a,
.terms a {
  color: var(--text-main);
  text-decoration: none;
  padding-right: 6px;
  transition: color 0.5s;
}

.footer a:hover,
.terms a:hover {
  color: var(--accent-alabaster);
}

.svg-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.svg-background svg {
  width: 100%;
  height: 100%;
}

/* Common animation setup */
.animated {
  opacity: 0;
  transform: translate(0, 0) scale(1);
  animation-fill-mode: forwards;
}

/* Specific animations */
#shape1 {
  animation: slideLeft 2s ease-in-out 0s forwards;
}

#shape2 {
  animation: slideTop 2s ease-in-out 0.2s forwards;
}

#shape3 {
  transform-origin: center;
  animation: scaleIn 2.5s ease-in-out 0.4s forwards;
}

#shape4 {
  animation: slideBottomRight 2s ease-in-out 0.6s forwards;
}

#shape5 {
  animation: slideTopRight 2.5s ease-in-out 0.8s forwards;
}

#shape6 {
  transform-origin: center;
  animation: scaleInOpacity 2s ease-in-out 1s forwards;
}

/* Keyframes */
@keyframes slideLeft {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 0.35;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 0.26;
  }
}

@keyframes slideBottomRight {
  from {
    transform: translate(200px, 200px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 0.22;
  }
}

@keyframes slideTopRight {
  from {
    transform: translate(300px, -300px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 0.24;
  }
}

@keyframes scaleInOpacity {
  from {
    transform: scale(0.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 0.39;
  }
}

/* More animations */
*/ .scroll-animate,
.animate-slide-bottom,
.animate-slide-bot,
.animate-slide-left,
.animate-slide-right {
  display: inline-block;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(10%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-bottom {
  animation: slideFromBottom 0.6s ease-out forwards;
}

.animate-slide-left {
  animation: slideFromLeft 0.6s ease-out forwards;
}

.animate-slide-right {
  animation: slideFromRight 0.6s ease-out forwards;
}

/* Initial state before scroll */
.scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  /* fallback offset */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Even More */

@keyframes slideFromBot {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-bot {
  animation: slideFromBot 0.6s ease-out forwards;
}

@keyframes bloom {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.glow {
  animation: bloom 1s ease-in-out 0.01s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  20% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.grow {
  animation: grow 1.5s ease-in-out 0.7s forwards;
}

.grow1 {
  animation: grow 1.5s ease-in-out 0.9s forwards;
}

.grow2 {
  animation: grow 1.5s ease-in-out 1.1s forwards;
}

/* media Queries*/

/* Small Screens (Mobile) */
@media (min-width: 320px) and (max-width: 639px) {
  .logo-bar {
    padding: 20px 0 20px 20px;
  }

  .logo-bar a {
    margin-left: 0px;
  }

  .logo {
    width: 42px;
    height: 24px;
  }

  .logo-bar span {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.39rem;
    margin-top: -8px;
  }

  .container {
    padding: 60px 5% 0 5%;
  }

  .text {
    min-width: 260px;
    max-width: 570px;
    padding: 1rem 0 3rem 0;
  }

  .text h1,
  h1 {
    font-size: 21px;
    font-size: Clamp(1.5rem, 6.5vw, 7vw);
  }

  .text p {
    margin: 0 4px 1.6rem 4px;
  }

  .glow {
    max-height: 50vh;
  }

  .image img {
    max-height: 730px;
    max-width: 62vw;
  }

  .hero {
    gap: 0px;
    max-height: 900px;
  }

  .image {
    min-width: 100%;
    text-align: center;
  }

  .glow {
    right: auto;
  }

  .text {
    margin-top: 0rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .logo-bar {
    padding: 30px 0 0 30px;
  }

  .logo-bar a {
    margin-left: 0px;
  }

  .logo {
    width: 42px;
    height: 24px;
  }

  .logo-bar span {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.39rem;
    margin-top: -8px;
  }

  .container {
    padding: 60px 5% 0 5%;
  }

  .text {
    min-width: 260px;
    max-width: 570px;
    padding: 1rem 0 3rem 0;
  }

  .text h1,
  h1 {
    font-size: 21px;
    font-size: Clamp(1.5rem, 5.6vw, 2.6rem);
  }

  .text p {
    margin: 0 4px 1.6rem 4px;
  }

  .glow {
    max-height: 50vh;
  }

  .image img {
    max-height: 490px;
  }

  .hero {
    flex-direction: column-reverse;
    gap: 0px;
  }

  .image {
    min-width: 100%;
    text-align: center;
  }

  .glow {
    right: auto;
  }

  .text {
    margin-top: 0rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {

  .logo-bar {
    padding: 60px 0 0 40px;
  }

  .logo-bar a {
    margin-left: 20px;
  }

  .logo {
    width: 52px;
    height: 30px;
  }

  .logo-bar span {
    font-size: 1.18rem;
    font-weight: 400;
    letter-spacing: 0.391rem;
    padding-top: 0.11rem;
  }

  .hero {
    flex-direction: column-reverse;
    gap: 0px;
    max-width: 600px;
  }
}

@media (min-width: 1281px) {
  .logo-bar {
    padding: 60px 0 0 40px;
  }

  .logo-bar a {
    margin-left: 30px;
  }

  .text h1,
  h1 {
    font-size: clamp(2.5rem, 3.2vw, 3.7rem);
  }

  .container {
    padding-top: 150px;
  }

  .socials {
    justify-content: start;
  }
}

@media (max-width: 1280px) {
  body {
    text-align: center;
  }
}

@media (min-width: 1712px) {
  .logo-bar {
    padding: 80px 0 20px 120px;
  }
}

@media (max-width: 700px) {
  .gone {
    display: none;
  }

  .cut {
    width: 100%;
  }
}